body {
    --bkg:white;
    --bkg-faint:#fff7e2;
    --bkg-focus:#fff5b2;
    --main:#d4962a;
    --main-focus:#e5a73b;
    --main-darker:#a36c0c;
    --modal-background:white;
    --modal-tabs:#ddd;
    background-color: var(--bkg);
    color:var(--main);
}

h1{
    font-size: clamp(1rem, 4dvw + 0.2rem, 7rem);
    margin: 0 auto;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: center;
}

.arrow{
    flex-grow: 5;
    display: flex;
}

#totals img{
    width:200px;
}

.arrow-body{
    height:2px;
    width:100%;
    margin:auto;
    background-color: var(--main);
}

.arrow-head{
    border:5px solid rgba(0,0,0,0);
    border-left:6px solid var(--main);
    height:0px;
    margin:auto 0;
}

.totals{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.totals li{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:2rem;
}

.totals span{
    margin:auto 0;
    text-align: center;
    min-width: 5rem;
}

.totals h3{
    color: black;
}

.totals label{
    height: fit-content;
    margin: auto 0;
}

#sites span{
    text-align: center;
}

.card{
    display: flex;
    flex-direction: row;
    border:2px solid var(--main);
    border-radius: 5px;
    width:fit-content;
    padding: 0.1rem 1rem;
}

#sites{
    display: flex;
    flex-direction: row;
    padding-top:2rem;
    padding-bottom:2rem;
    overflow: hidden;
}

.glide{
    width:70dvw;
}

.site-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    gap:0.6rem;
    margin-bottom: 1rem;
    color:black;
}
.site-card>object, .site-card img{
    width: 20dvw;
}
.glide__arrow--right{
    right:-2rem;
}
.glide__arrow--left{
    left:-2rem;
}
.generation-total{
    color: var(--bkg);
    background-color: var(--main);
    border-radius: 1rem;
    padding:0.3rem 0.4rem;
    font-weight: bolder;
    width: max-content;
}

#siteChart{
    width:70dvw;
    aspect-ratio: 1.6;
}

.tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tabs>li{
    border:1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width:25%;
    background-color:var(--modal-tabs);
}
.tabs>li>label{
    width:100%;
    height:100%;
    padding:0.25rem;
    padding-left: 0.5rem;
    display: inline-block;
}
.tabs>li:has([name="period"]:checked){
    background-color: var(--modal-background);
    border-bottom: none;
}
.tabs>li>input{
    display: none;
}
.tab-area{
    border:1px solid black;
    border-top: none;
}

.ct-point{
    stroke-width:0px;
    stroke-linecap: round;
}
.ct-line{
    stroke-width:1px;
}
.ct-series-b .ct-line{
    stroke:blue;
}
.ct-series-a .ct-line{
    stroke:var(--main);
}
#siteOverview{
    position: relative;
    border-radius: 15px;
}
#siteOverview>button{
    position: absolute;
    top:1rem;
    right:1rem;
}
#siteOverview>span{
    font-weight: 500;
}
#siteOverview>h3{
    width:100%;
    text-align: center;
    font-size: 2.3rem;
    font-weight:700;
}
.space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
th>label{
    cursor: pointer;
    text-decoration: underline;
}
th>label:has(+ input:checked) {
    font-weight: bold;
  }
[name="sort"]{
    display: none;
}
.totals h2{
    font-size: 1.2rem;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
}
.highlight-output{
    background-color: var(--main);
    color: var(--bkg);
    border-radius: 3px;
    padding: 5px;
}
.output{
    border:1.5px solid var(--main);
    border-radius: 3px;
    padding:4px;
}

table{
    height:fit-content;
    contain:inline-size;
    margin-top: 0.7rem;
}

thead{
    font-size: 1.1rem;
    background-color: var(--main);
    color:white;
}
td{
    border-left:0.5px solid var(--main);
}
td:nth-child(1){
    border-left: none;
}
td, th{
    padding:0.3rem 0.4rem;
}
th{
    padding-bottom: 0.5rem;
}
tr:nth-child(2n){
    background-color: var(--bkg-faint);
    color:#727272;
}
td:nth-child(5){
    text-align: right;;
}

#meaning{
    margin:0 auto;
    width:fit-content;
    text-align: center;
}
#meaning p{
    margin:1rem 0;
}

@media (max-width: 540px) {
    .card{
        border: none;
    }    
}

.ct-vertical{
    font-size:0.7rem;
}

span.ct-vertical{
    translate:0 0.35rem;
}

.column{
    display: flex;
    flex-direction: column;
}

.graph-title{
    font-size: 1.7rem;
    font-weight: 600;
    margin:0 auto;
}

#scale{
    position: relative;
    top:7px;
}
